<div class="home__container">
	<app-card
		gameCover="assets/re-4.png"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/re-6.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/tb-1.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/tb-2.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
	<app-card
		gameCover="assets/minecraft.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 109,99"
	>
	</app-card>
	<app-card
		gameCover="assets/fifa-22.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 109,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 119,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 119,99"
	>
	</app-card>
</div>

